.ipynb_checkpoints/
.Trash-0/
.vscode/
catboost_info/
CH/
pretrain_models/*/*.cbm
pretrain_models/*/*.json
__pycache__/
scripts/
predict_*_days*/
codes/test_single_model.py
.lftpignore
.rsyncignore
*.pptx
*.png
*.zip
*.ipynb
Preprocess/create_dataset_from_same_db.py
cascade_eval.py
cascade1.py
code2twcc.sh
code2vm.sh
embedding.py
nocontri_features.py
opt_thres.py
positive_rate_per_usage.py
shap_importance.sh
shrink_dataset.py
test_embedding.py
dataset_1st/temp/
dataset_1st/*.txt
dataset_1st/*.joblib
dataset_1st/*.csv
dataset_1st/positive_rate.xlsx
dataset_2nd/temp/
dataset_2nd/*.txt
dataset_2nd/*.joblib
dataset_2nd/*.csv
dataset_3rd/*.txt
dataset_3rd/*.joblib
dataset_3rd/*.csv
References/
submit/
train_test/
31_dataset_1st_training_public testing.zip
31_dataset_2nd_public answer_private testing.zip
31_範例繳交檔案.csv
31_資料欄位說明.xlsx
ESun Slack Link.txt
ESun Slack Link_V2.txt